/* Cart.css */
.cart-container {
    font-family: Arial, sans-serif;
    position: fixed;
    right: 0;
    top: 0;
    width: 350px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
}

.cart-items {
    margin-top: 20px;
}

.cart-close-button{
    border: none;
    background: white;
}

.cartitem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    
}



.cart-item-details {
    display: flex;
    align-items: center; /* Add this line to vertically center the contents */
    gap: 10px;
}

.cart-item-title {
    font-size: 16px;
    margin: 0;
}

.cart-item-price {
    font-size: 14px;
    margin-top: 15px;
    color: #888;
}

.remove-button,
.clear-cart-button {
    background-color: #f44;
    color: #fff;
    font-size: 12px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
}

.clear-cart-button {
    background-color: black;
}

.remove-button:hover,
.clear-cart-button:hover {
    opacity: 0.8;
}

/* New styles for quantity buttons */
.cart-item-quantity {
    display: flex;
    align-items: center;
}

.quantity-button {
    background-color: #000;
    color: #fff;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 12px;
    margin: 0 5px;
}

.quantity {
    font-size: 16px;
    margin: 0 10px;
}

.Submit_cart{
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 10px 20px;
    background: #173B45;
}